[submodule "ext/libfstwriter"]
	path = ext/libfstwriter
	url = https://github.com/gtkwave/libfstwriter
[submodule "ext/LWTR4SC"]
	path = ext/LWTR4SC
	url = https://github.com/ripopov/LWTR4SC
[submodule "ext/Konata"]
	path = ext/Konata
	url = https://github.com/shioyadan/Konata
[submodule "ext/wavepeek"]
	path = ext/wavepeek
	url = https://github.com/kleverhq/wavepeek
